.channel-review{
  width: 100%;
  > .container{
    background-color: $bgColorSecond;
  }
}

.channel-review__header{
  margin: 0 80px 64px;
}

.channel-review__title{
  @include justify-center;
  margin: 0 0 16px;
}

.channel-review__subtitle{
  @include justify-center;

  > p{
    font-size: 16px;
    text-align: center;
  }
}

.channel-review__content{
  margin-bottom: 64px;
}

.channel-review__cards{
  display: flex;
  flex-wrap: wrap;
  margin: 0 16px;

  .card-1, .card-2, .card-3{
    margin-bottom: 32px;
  }
  .card-4, .card-5, .card-6{
    margin-bottom: 0;
  }
}

.channel-review__card{
  margin: 0 16px;
  padding: 24px 32px;
  border: #EAEBF0 solid 1px;
  border-radius: 5px;
  flex: 0 1 calc(33% - 32px);
  min-width: 287px;

  .column-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
}

.channel-review__card-icon{
  display: inline;
  width: 48px;
  height: 48px;
  background-color: $buttonColorOpacity;
  border-radius: 50%;
  img{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 10px;

  }
}

.channel-review__card-button{
  padding: 13px 0;
  > a{
    @include button($titleColor, $bgColorSecond);
  }
}


.channel-review__card-title{
  margin-bottom: 8px;
}

.channel-review__card-description{
  p{
    line-height: 24px;
  }
}

.channel-review__main-button{
  margin: 76px 0 0;
  @include align-center;
  justify-content: center;

  a{
    @include button($bgColorSecond, $buttonColor);
  }
}