$bgColorFirst:#F8F9FB;
$bgColorSecond: #ffffff;
$bgColorThird: #2B63D9;
$titleColor: #272D37;
$textColor: #5F6D7E;
$textColorSecond: #B1CCFB;
$buttonColor: #437EF7;
$buttonColorOpacity: rgba(67, 127, 247, 0.05);
$timeListTransition: 0.3s;


$breakpoint-main_sm: 425px;
$breakpoint-add_pre-sm: 600px;
$breakpoint-main_md: 991px;
$breakpoint-add_lg: 1024px;
$breakpoint-add_pre-xl: 1280px;
$breakpoint-main_xl: 1440px;